/* Global styles */

/* Global header */
.global-header {
  background-color: var(--bs-black);
  color: white;
  display: grid;
  grid-template-columns: 80% 20%;
  text-decoration: none;
  fill: white;
  /* border: 1px solid grey; */
  /* fill makes the icons become that color */
}

.global-header a {
  text-decoration: none;
}

.global-header h1 {
  color: white;
}

.global-header .icon {
  width: 30px;
  height: 30px;
}

.global-header_right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.global-header_right .search-icon {
  padding: 5px 10px;
  margin-right: 3px;
  color: white;
}

.global-header_right button {
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  color: white;
  font-size: 25px;
  align-items: center;
  border: none;
  display: flex;
  text-transform: uppercase;
  border-left: 1px solid var(--bs-body-color);
}

.site-title, .global-header_right{
  border-bottom: 1px solid var(--bs-body-color); 
}