.site-title {
  display: flex;
  align-items: center;

  .site-title>span {
    font-size: 1rem;
    margin-left: 0.3em;
  }
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

/* Yellowstone band */
.hero-banner {
  display: grid;
  grid-template-columns: 1fr;
  /* color: white; */

  img {
    object-fit: cover;
    width: 100%;
    height: 1000px;
    grid-column: 1/2;
    grid-row: 1/3;
  }

}

.hero_content {
  color: white;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.63);
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.1em;

  a {
    text-decoration: none;
  }

}

.hero_content,
nav {
  position: relative;
  /* bottom: 150px; */
  width: 100%;
}

.hero_title {
  font-size: 2.2em;
  padding-left: 40px;
}

.hero_title:link,
.hero_title:visited {
  color: white;
}


.hero_places {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

.hero_subtitle {
  display: flex;
  flex-direction: column;
  font-size: 1.03em;
}

/* Tag class is hero_places but it wouldn't show up with that name in the local host */


.global-nav {
  transition: all 2s;
  width: 100%;
  grid-column: 1/3;
  max-height: 0;
  overflow: hidden;
}

.global-nav button {
  cursor: pointer;
  background-color: transparent;
}

.global-nav svg{
  --icon-color: white;
}

/* #global-nav-toggle {
  width: 100%;
  float: right;
} */

.global-nav__toggle--closed {
  display: flex;
}

.global-nav__toggle--open {
  display: none;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
  display: flex;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
  display: none;
}

.global-nav.show{
  max-height: 1000px;
}