@import "partials/variables.css";
@import "partials/global.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/blocks.css";
@import "partials/utilities.css";
@import "conditions.css";
@import "main.css";

/* Parks info */
nav {
  /* display: flex; */
  padding-left: 20px;
  background-color: var(--bs-black);
  color: white;
  height: auto;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-block: 0;
    justify-content: center;
  }

  li {
    display: flex;
    width: 140px;
    justify-content: center;
  }

  a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.global-nav__split-button {
  display: flex;

  a {
    width: 150px;
    padding-left: 20px;
  }
}

.global-nav__split-button__toggle {
  border: none;
  width: 27px;
  height: 30px;
}

nav a:link,
nav a:visited {
  color: white;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}

a:link,
a:visited {
  /* color: var(--bs-link-color); */
  text-decoration: none;

}

a:hover {
  color: var(--bs-link-hover-color);
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Title and logo styling */



/* Utility styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}